apiVersion: v1
kind: ConfigMap
metadata:
  name: opa-config
  namespace: opa
data:
  config.yaml: |
    services:
      - name: policy-bundle
        url: https://<YOUR_BUNDLE_HOST>   # GitHub Pages / Azure Blob

    bundles:
      kubernetes:
        service: policy-bundle
        resource: /bundle.tar.gz
        polling:
          min_delay_seconds: 60
          max_delay_seconds: 300

    decision_logs:
      console: true